# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore App config
settings.txt
editorSettings.txt
examSettings.txt

# Ignore installer commands
installer_commands.txt